fastapi[all]

sqlalchemy>=2.0.44 # Python - DB Layer Abstraction (ORM)
psycopg2-binary>=2.9.11 # Database Driver
psycopg2>=2.9.11 # Database Driver

pydantic>=2.12.4 # Validation  
pydantic-settings>=2.11.0 # Configuration Settings

alembic>=1.16.5 # DB Migration Tool
supabase # File Storage

testcontainers # PyTest Dependencies
pytest # Testing Tool

httpx # HTTP Client
openai # LLM
PyPDF2 # PDF to Text
openai-agents==0.6.2
braintrust-langchain
langchain-openai
